html,
body,
#root,
.App {
  background-color: rgb(119, 161, 138);
  text-align: center;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

h1 {
  color: rgb(161, 240, 213);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 600px;
  height: 350px;
  border-radius: 5%;
  background-color: rgb(234, 224, 208);
}

.item img {
  width: 200px;
  height: 250px;
}

.item h3 {
  width: 500px;
}
